<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Cinzel:400,700|Source+Serif+Pro" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Hair Salon Management Page</title>
  </head>
  <body>
    <div id="#page-wrap" class="container">
      <div class='jumbotron'>
        <h1>Manage Stylists</h1>
        <h2>Add Stylists</h2>
        <form action="/" method="post">
          <div class="form-group">
            <label for="stylist_name">Type Stylist Name</label>
            <input type="text" class="form-control" name="stylist_name" id="stylist_name" placeholder="Name" />
          </div>
          <button class="btn btn-primary btn-block" type="submit">Add</button>
        </form>

        <h2>Current Stylists</h2>
        {% if stylists is not empty %}
          <ul>
            {% for stylist in stylists %}
              <div class='panel'>
                <li>
                  <a href="/stylist/{{stylist.getStylistName}}-{{stylist.getStylistId}}">{{ stylist.getStylistName }}</a>
                  <a href="/stylist/{{stylist.getStylistName}}-{{stylist.getStylistId}}/edit"><button class="btn btn-warning select">Edit</button></a>
                  <a href="/stylist/{{stylist.getStylistName}}-{{stylist.getStylistId}}/deleted"><button class="btn btn-danger select">Delete</button></a>
                </li>
              <div>
            {% endfor %}
          </ul>
          <a href="/deleteall"><button class="btn btn-danger btn-block">Delete All</button></a>
        {% else %}
        <p>No stylists</p>
        {% endif %}
      </div>
    </div>
  </body>
</html>
